---
import Section from "@/components/sections/Section.astro";
---

<Section color="white" title="Model S" id="model-s">
  <div slot="footer" class="flex flex-col max-sm:pb-10 pt-20">
    <div
      class="flex max-sm:flex-col flex-row max-sm:gap-y-4 gap-x-6 max-sm:px-6 max-sm:w-full w-3/5 xl:w-2/5 mx-auto"
    >
      <a
        class="bg-black max-sm:w-full w-1/2 text-sm font-medium rounded px-12 py-2 text-white inline-block hover:bg-zinc-800 transition-colors duration-300"
        href="#"
      >
        Encargar
      </a>

      <a
        class="bg-white max-sm:w-full w-1/2 text-sm font-medium rounded px-12 py-2 text-black inline-block hover:bg-zinc-200 transition-all duration-300"
        href="#"
      >
        Prueba de conducción
      </a>
    </div>
  </div>

  <img
    slot="background"
    src="/model-s.avif"
    alt="Model S"
    class="h-full w-full object-cover object-center"
    id="bg-image-models"
  />

  <script>
    function isMobile() {
      if (window.matchMedia("(max-width: 639px)").matches) {
        return true;
      } else {
        return false;
      }
    }

    let imageElement = document.querySelector(
      "#bg-image-models"
    ) as HTMLImageElement; // TypeScript

    if (isMobile()) {
      imageElement.src = "model-s-mobile.avif";
    } else {
      imageElement.src = "model-s.avif";
    }
  </script>
</Section>
