---
import Layout from "@/layouts/Layout.astro";
import LandingHeader from "@/components/structural/LandingHeader.astro";
import InfoSection from "@/components/structural/InfoSection.astro";
import LandingFooter from "@/components/structural/LandingFooter.astro";
import HeroSection from "@/components/sections/HeroSection.astro";
import ModelY from "@/components/sections/ModelYSection.astro";
import Model3 from "@/components/sections/Model3Section.astro";
import ModelS from "@/components/sections/ModelSSection.astro";
import ModelX from "@/components/sections/ModelXSection.astro";
import SolarPanel from "@/components/sections/SolarPanelSection.astro";
import Accesorios from "@/components/sections/AccesoriosSection.astro";
---

<Layout title="Tesla - Home">
  <LandingHeader />

  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <ModelY />
    </div>
    <div class="snap-center">
      <Model3 />
    </div>
    <div class="snap-center">
      <ModelS />
    </div>
    <div class="snap-center">
      <ModelX />
    </div>
    <div class="snap-center">
      <SolarPanel />
    </div>
    <div class="snap-center">
      <Accesorios />
    </div>
    <div class="snap-center">
      <InfoSection />
      <LandingFooter />
    </div>
  </main>
</Layout>
