---
import Section from "./Section.astro";
---

<Section color="black" title="Accesorios" id="accesorios">
  <div slot="footer" class="flex flex-col pb-10">
    <div
      class="flex max-sm:flex-col flex-row max-sm:px-6 max-sm:w-full w-1/4 xl:w-1/6 mx-auto"
    >
      <a
        class="bg-white w-full text-sm font-medium rounded px-12 py-2 text-black inline-block hover:bg-zinc-200 transition-all duration-300"
        href="#"
      >
        Comprar ahora
      </a>
    </div>
  </div>

  <img
    slot="background"
    src="/accessories.avif"
    alt="Accesorios"
    class="h-full w-full object-cover object-center"
    id="bg-image-accesorios"
  />

  <script>
    function isMobile() {
      if (window.matchMedia("(max-width: 639px)").matches) {
        return true;
      } else {
        return false;
      }
    }

    let imageElement = document.querySelector(
      "#bg-image-accesorios"
    ) as HTMLImageElement; // TypeScript

    if (isMobile()) {
      imageElement.src = "accessories-mobile.avif";
    } else {
      imageElement.src = "accessories.avif";
    }
  </script>
</Section>
