<footer class="bg-black text-xs text-zinc-300 text-center pb-4">
  <nav class="py-4">
    <ul class="flex justify-center space-x-4 text-center">
      <li class="hover:text-white transition-all duration-300">
        <a href="#">Tesla © 2024</a>
      </li>
      <li class="hover:text-white transition-all duration-300">
        <a href="#">Privacidad y legal</a>
      </li>
      <li class="hover:text-white transition-all duration-300">
        <a href="#">Contacto</a>
      </li>
      <li class="hover:text-white transition-all duration-300">
        <a href="#">Noticias</a>
      </li>
      <li class="hover:text-white transition-all duration-300">
        <a href="#">Seguir informado</a>
      </li>
      <li class="hover:text-white transition-all duration-300">
        <a href="#">Localización de tiendas</a>
      </li>
    </ul>
  </nav>
</footer>
